.container {
    background: linear-gradient(to right, #5f2c82, #49a09d); 
}

.post-user {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: none;
    width: 500px;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.post-vid {
    height: 500px;
    width: 500px;
    object-fit: contain;
    border-bottom: none;
}

.post-desc {
    background-color: white;
    height: 100px;
    width: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.desc {
    padding: 10px;
}
.avatar {
    width: 48px;
    height: 48px;
}
.icon {
    padding: 30px 10px 20px;
}

video {
    object-fit: cover;
    width: 500px;
    height: 500px;
}